<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3te_Fy_Pl6ByChikaWSYoTJ_2A8NomQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>151578569164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cashmotolending.paghiram.loan.vip</string>
	<key>PROJECT_ID</key>
	<string>paghiram-loan-vip</string>
	<key>STORAGE_BUCKET</key>
	<string>paghiram-loan-vip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151578569164:ios:b9391bff73790356b59569</string>
</dict>
</plist>